.hidden {
    display: none;
}

.errorDiv {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    color: red;
    text-align: left;
    font-size: 0.9em;
    margin: 0 auto;
    width: fit-content;
}

.cancelBtn {
    margin-left: 20px;
}

.card {
    box-shadow: none !important;
}

#resetSimulationButton {
    width: 25%;
}

#IotData {
    margin: 20px 0;
}

#IotData h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#IotData label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#IotData select,
#IotData input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#IotData button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#IotData button:hover {
    background-color: #0056b3;
}

#IotData h2 {
    font-size: 1.2em;
    margin-top: 20px;
}

#IotData canvas {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}