#references .container {
  background-color: #2090ad; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the container */
  margin: 0 auto; /* Center the container */
  max-width: 70% !important; /* Ensure full width */
}

#references .section-header {
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Space below the header */
}

#references .section-title {
  font-size: 2em; /* Larger font size for the title */
  color: #63aef3; /* Darker shade of teal for the title */
}

#references .section-bg {
  padding: 0; /* Remove padding inside the sections */
  background-color: #2090ad; /* Slightly darker blue background for sections */
  border-radius: 8px; /* Rounded corners for sections */
  margin-bottom: 20px; /* Space below each section */
  width: 100% !important; /* Ensure full width */
}

#references .section-content {
  background-color: #2090ad; /* Slightly darker blue background */
  width: 100% !important; /* Ensure full width */
  padding: 20px; /* Padding inside the content */
  border-radius: 8px; /* Rounded corners */
}

#references .full-width {
  width: 100% !important; /* Ensure full width for child containers */
}

.section-title {
  color: rgb(0, 0, 90) !important; /* Blue color for headings */
}

a {
  color: black; /* Change link color to black */
  font-weight: bold;
}
